.im{
    background: url(../images/about-heading.jpg);
    background-repeat: no-repeat;
}
.headerr{
    
        padding: 210px 0px 130px 0px;
        text-align: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
.header-text h1{
font-weight: bold;
font-size: 50px;
}
/* header fiished  */
/* after header  */
.bam-e-ja{
    margin-left: 10px;
}
.after-header{

    overflow: hidden;
}
.after-header img{
    width: 100%;
}
.leadd{
    color: rgb(98, 98, 219);
    font-weight: 400;
    font-size: 20px;
}
.leads{
    font-size: 14px;
    color: rgb(110, 106, 106);
}
.ic { 
    font-style: 14px;
    background: rgba(0, 0, 0, 0.123);
    margin: 5px;
    color: rgb(7, 7, 7);
    padding: 2% 2% 2% 2.8%;
    transition: .4s;
}
.ic:hover{
    background-color: rgba(36, 34, 34, 0.082);
    color: rgb(235, 60, 60);
    /* font-size: 20px; */
}
@media screen and (max-width:680px){
    .ic{
        font-style: 14px;
        background: rgba(0, 0, 0, 0.76);
        margin: 5px;
        color: white;
        padding: 2% 0%;
        /* padding-right: 2%; */
        transition: .4s;
    }
    .ic i{ 
        font-style: 14px;
        background: rgba(0, 0, 0, 0.123);
        margin: 5px;
        color: white;
        padding: 2% 2% 2% 2.8%;
        transition: .4s;
    }
    .ic i:hover{
        background-color: rgba(36, 34, 34, 0.082);
        color: rgb(235, 60, 60);
        /* font-size: 20px; */
    }
}
/* after div finished  */

/* about team starts  */
.bam-e-na{
    margin-left: 3%;
    margin-bottom: 6%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(155, 148, 148);
}
/* about team finished */
.blue{
    color: rgb(57, 57, 241);
}
.red{
    color: tomato;
    font-size: 13px;
}
.img{
    position: relative;
    left: 0;
    margin: 0;
   /* margin-right: 5%; */
    z-index: 1;

}
.shadow{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 56%;
    overflow: hidden;
    left: 4%;
    top: 0;
    right: 0;
    background: #e54141e7;
    z-index: 2;
    opacity: 0;
    transition: .7s;
}
.icnn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.icn {
    margin: 1%;
    font-size: 18px;
    background: white;
    height: 40px;
    width: 40px;
    text-align: center;
    color: rgb(34, 32, 32);
    padding-top: 3%;
}
.icn:hover{
    color: rgb(167, 30, 5);
}
.shadow:hover{
    opacity: 1;
}
.bam{
    margin: 5%;
}
@media screen and (max-width:680px){
    .gapp{
        margin-top: 5%;
    }
}
/* team details finished  */
/* third container  */
.imbc{
    background-image: url(../images/services-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px 100px 0px;
    overflow-x: hidden;
}
.settings{
    text-align: center;
    font-size: 30px;
    width: 28%;
    height: 68px;
    padding-top: 7%;
    color: white;
    background-color: tomato;
    margin: 32%;

}
.mar{
    margin-left: 8%;
    text-align: center;
}
@media screen and (max-width:520px){
    .mar{
        margin: auto;
        text-align: center;
        margin-top: 3%;
    }
}
/* third container finished  */
/* forth container  */
.btn1{
    background-color: #F33F3F;
    padding: 5% 7%;
}
.btn1:hover{
    background-color: black;
    color: white;
}
/* happy partners  */
.happy{
    border-bottom: 1px solid rgb(151, 146, 146);
    padding-bottom: 3%;
    margin-top: 4%;
}
.happpy{
    width: 85%;
    /* margin: 2% aut 2% 4%; */

}

.gutter:hover{
    opacity: .8;
}
@media screen and (max-width:320px){
    .team{
margin:-25px;
    }
    .ic {
        width: 11%;
    }
    .bam-e-na{
        margin: auto;
        text-align: center;
    }
    .gutter{
        margin: 1%;
    }
}